$baseVars: (
    "background": black,
    "color": whitesmoke,
    "font": sans-serif,
    "accent": #ccc4f6
);

$postVars: (
    "background": black
);

$welcomeVars: (
    "background": black,
    "color": white,
    "svg": white,
    "navigationColor": white,
    "focusRed": red,
    "cardBackground": #18181b,
    "laravelImage": #ff2d20
);

$accentColor: (
    "second": #ecc4f6
);