$baseVars: (
    "background": black,
    "color": whitesmoke,
    "font": sans-serif,
    "accent": orange,
    "error": rgb(158, 2, 2)
);

$postVars: (
    "background": black
);

$welcomeVars: (
    "background": #000000,
    "color": white
);

$accentColor: (
    "second": #ecc4f6,
    "grey": darken(whitesmoke, 55%),
    "button": rgb(26, 16, 76)
);

$buttonVars: (
    "dashboard": #371545,
    "signin": rgb(73, 23, 54)
);