@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.blogs{
    @include mixins.flexBox;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;

    &__new{
        font-size: 120%;
        padding: 1rem 2rem;
        color: map-get(variables.$baseVars, "background");
        font-weight: 600;
        text-decoration: none;
        border-radius: 0.1rem;
        background: map-get(variables.$baseVars, "accent");

        &:hover{
            cursor: pointer;
            background: darken(map-get(variables.$baseVars, "accent"), 2%);
        }
    }

    &__results{
        color: rgba(map-get(variables.$baseVars, "accent"), 0.4);
        margin-bottom: 1rem;
        font-size: 90%;
    }
}

.post{
    background: map-get(variables.$postVars, "background");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    border: 0.01rem solid rgba(map-get(variables.$baseVars, "accent"), 0.2);
    padding: 2rem 4rem 1rem 4rem;
    width: 70rem;

    &__blog{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
    }

    &__image{
        width: 100%;
        object-fit: cover;
    }

    &__wrapper{
        @include mixins.flexBox;
        gap: 1rem;
        font-size: 1.3rem;

        &--published{
            color: map-get(variables.$baseVars, "accent");
            font-weight: 600;
        }
        &--draft{
            color: map-get(variables.$accentColor, "second");
            font-weight: 600;
        }
    }

    &__details{
        @include mixins.flexBox;
        gap: 1rem;
        &--author{
            font-size: 90%;
        }
        &--date{
            font-size: 85%;
            color: map-get(variables.$baseVars, "accent");
            opacity: 0.4;
        }
    }
    &__intro{
        font-size: 100%;
        font-weight: 500;
    }
    &__stage{
        &--one{
            color: map-get(variables.$accentColor, "second");
        }
        &--two{
            color: map-get(variables.$baseVars, "accent");
        }
    }
    &__readLink{
        color: map-get(variables.$baseVars, "accent");
        text-decoration: none;

        &:hover{
            color: lighten(map-get(variables.$baseVars, "accent"), 5%);
        }
    }
    &__comments{
        width: 100%;
        height: 100%;
        @include mixins.flexBox;
        padding: 1rem 0;

        &--form{
            width: 100%;
            @include mixins.flexBox;
            background: lighten(map-get(variables.$baseVars, "background"), 3%);
            border-radius: 2rem;
        }

        &--input{
            width: 100%;
            border: none;
            background: none;
            padding: 0 1rem;
            color: map-get(variables.$baseVars, "color");
            font-size: 100%;

            &:focus{
                outline: none;
            }
        }

        &--submit{
            height: 100%;
            padding: 1rem 2rem;
            border-radius: 0 2rem 2rem 0;
            border: none;
            background: none;
            border-left: 0.01rem solid rgba(map-get(variables.$baseVars, "accent"), 0.2);
            color: map-get(variables.$baseVars, "accent");
            font-weight: 600;

            &:hover{
                cursor: pointer;
            }
        }
    }
}