@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.blog{
    @include mixins.flexBox;
    flex-direction: column;
    padding: 2rem;
    width: 55rem;

    &__new{
        font-size: 120%;
        padding: 1rem 2rem;
        color: map-get(variables.$baseVars, "background");
        font-weight: 600;
        text-decoration: none;
        border-radius: 0.1rem;
        background: map-get(variables.$baseVars, "accent");

        &:hover{
            cursor: pointer;
        }
    }

    &__results{
        color: map-get(variables.$baseVars, "accent");
        margin-bottom: 1rem;
    }
}

.post{
    background: map-get(variables.$postVars, "background");
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
    border: 0.01rem solid rgba(map-get(variables.$baseVars, "accent"), 0.2);

    &__image{
        width: 80%;
    }

    &__wrapper{
        @include mixins.flexBox;
        flex-direction: column;
        gap: 1rem;

        &--published{
            color: map-get(variables.$baseVars, "accent");
            font-weight: 600;
            font-size: 90%;
        }
        &--draft{
            color: map-get(variables.$accentColor, "second");
            font-weight: 600;
            font-size: 90%;
        }
    }

    &__author{
        font-size: 90%;
    }
    &__intro{
        font-size: 100%;
        font-weight: 500;
    }
    &__readLink{
        color: map-get(variables.$baseVars, "accent");
        text-decoration: none;

        &:hover{
            color: lighten(map-get(variables.$baseVars, "accent"), 5%);
        }
    }
}