@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.header{
    background: darken(map-get(variables.$baseVars, "background"), 5%);
    width: 100%;
    height: 6rem;

    &__navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 10rem;
        height: 100%;

        &--list{
            @include mixins.flexBox;
            gap: 4rem;
            list-style: none;
            height: 6rem;

            &-item{
                @include mixins.flexBox;
                height: 100%;
                & a{
                    color: map-get(variables.$baseVars, "color");
                    text-decoration: none;
                    font-weight: 600;
                }
            }
            &-active{
                @include mixins.flexBox;
                height: 100%;
                border-bottom: 0.2rem solid map-get(variables.$baseVars, "accent");
                & a{
                    color: map-get(variables.$baseVars, "accent");
                    text-decoration: none;
                    font-weight: 600;
                }
            }

            &-button{
                background: none;
                border: none;
                color: map-get(variables.$baseVars, "color");
                text-decoration: none;
                font-weight: 600;
                position: relative;
                &:hover{
                    cursor: pointer;
                }
                & a{
                    color: map-get(variables.$baseVars, "background");
                    text-decoration: none;
                    font-weight: 600;
                    width: 100%;

                    &:hover{
                        cursor: pointer;
                        color: lighten(map-get(variables.$baseVars, "background"), 5%);
                    }
                }
            }
            &-wrapper{
                position: absolute;
                top: 100%;
                left: -10%;
                display: none;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: start;
                gap: 1rem;
                padding: 1rem 0.6rem;
                width: 10rem;
                background: map-get(variables.$baseVars, "accent");
            }
            &-button:hover &-wrapper{
                display: flex;
            }
        }

        &--item{
            font-weight: 600;
            color: map-get(variables.$accentColor, "second");
            @include mixins.flexBox;
            gap: 1rem;
        }

        &--auth{
            &-image{
                width: 5rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
        }
    }
    }
}